@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@font-face {
  font-family: "Coanda";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/CoandaTRIAL-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Coanda";
  font-weight: bold;
  font-style: bold;
  src: url("/fonts/CoandaTRIAL-Bold.otf") format("opentype");
}

.coanda {
  font-family: "Coanda";
}

.coanda-bold {
  font-family: "Coanda";
  font-weight: bold;
}

@font-face {
  font-family: "Aeonik";
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/AeonikProTRIAL-Regular.otf") format("opentype");
}

.aeonik {
  font-family: "Aeonik";
}
.aeonik-bold {
  font-family: "Aeonik";
  font-weight: bold;
}

.text-white {
  color: #ffffff;
}

.authform {
  display: flex;
  justify-content: space-between;
}

.form-img > img {
  width: 606px;
  height: 100vh;
  object-fit: cover;
}

.bg-gradient-to-t {
  background-image: linear-gradient(to top, #14050a, #030712);
}

.form-shadow-right {
  box-shadow: -70px 0 50px 0px #14050aa1;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
}

.custom-w-13 {
  width: 70%;
}

.change-my-color {
  fill: green;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.5;
  }
  99% {
    opacity: 0;
  }
}

.animation-fadeInOut {
  animation-name: fadeInOut;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

html {
  scroll-behavior: smooth;
}

.swiper-pagination-bullet {
  background: #ffffff !important;
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet-active {
  background: #ef4444 !important;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 30px;
  border-radius: 50% !important;
  background-color: #e6e6e6;
  color: #000 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
}

.mesh {
  background-color: hsla(0, 0%, 1%, 0);
  background-image: radial-gradient(
      at 80% 100%,
      hsla(240, 7%, 19%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 0%, hsla(0, 86%, 18%, 1) 0px, transparent 50%);
}
